layout {
    tab name="fish" cwd="/home/pavel/" {
        pane
    }
    tab name="vim" cwd="/home/pavel/vimwiki/" {
        pane
        pane
    }
    tab name="rust" cwd="/home/pavel/Documents/" {
        pane
        pane //cwd="/home/pavel/Documents/rook/"
    }
    tab name="python" cwd="/home/pavel/Documents/" {
        pane
        pane //cwd="/home/pavel/Documents/some-python-subdirectory/"
    }
    tab name="btm" cwd="/home/pavel/" {
        pane command="btm"
    }
}
