layout {
    tab name="fish" cwd="/home/pavel/" {
        pane
    }
    tab name="vim" cwd="/home/pavel/vimwiki/" {
        pane
        pane
    }
    tab name="rust" cwd="/home/pavel/Documents/" {
        pane
        pane //cwd="/home/pavel/Documents/rook/"
        //pane command="htop"
    }
    tab name="python" cwd="/home/pavel/Documents/" {
        pane
        pane //cwd="/home/pavel/Documents/rook/"
        //pane command="htop"
    }
}
